openapi: 3.2.0
info:
  title: Pay I Reports API
  version: v1
  description: 'Operations tagged Reports across 2 of this provider''s published API definitions: pay-i-openapi-original.json, pay-i-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pay-i.com
security:
- Pay_I_API_Key: []
tags:
- name: Reports
  description: Public API for retrieving reports.
paths:
  /api/v1/reports/{report_id}:
    get:
      tags:
      - Reports
      summary: Retrieve report data by report ID, optionally filtered to a date range.
      operationId: getReport
      parameters:
      - name: report_id
        in: path
        description: The report identifier.
        required: true
        schema:
          type: string
      - name: from
        in: query
        description: Optional start date filter (ISO 8601, e.g. 2024-01-01T00:00:00Z).
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        description: Optional end date filter (ISO 8601, e.g. 2024-12-31T23:59:59Z).
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayI.Common.Models.ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayI.Common.Models.ApiError'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayI.Common.Models.ApiError'
    servers:
    - url: https://api.pay-i.com
components:
  schemas:
    PayI.Common.Models.ProxyError:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      additionalProperties: false
    PayI.Common.Models.ApiError:
      required:
      - message
      - statusCode
      type: object
      properties:
        message:
          minLength: 1
          type: string
        statusCode:
          type: integer
          format: int32
        xproxy_error:
          $ref: '#/components/schemas/PayI.Common.Models.ProxyError'
      additionalProperties: false
  securitySchemes:
    Pay_I_API_Key:
      type: apiKey
      description: 'Pay-I API Key. Example: "{apikey}"'
      name: xProxy-api-key
      in: header
x-refined-from:
- pay-i-openapi-original.json
- pay-i-openapi.yml
